.productsConatiner {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#smSearch {
    display: none !important;
}

#lgSearch {
    display: flex !important;
}

@media (max-width: 767px) {
    #smSearch {
        display: flex !important;
        width: -webkit-fill-available
            /* position: sticky;
        top: 0;
        z-index: 1020; */
    }

    #lgSearch {
        display: none !important;
    }
}

.searchBtn {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.searchBtn:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}